<div class="container">
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="nav navbar-nav clearfix">
      <li class="nav-item">
        <%= link_to "Marley Spoon Recipes", root_path, class: 'navbar-brand' %>
      </li>
    </ul>
  </nav>
</div>
